@import "tailwindcss";

/* Botón principal */
.btnStart {
  font-family: "Press Start 2P", system-ui;
  width: 200px;
  height: 50px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 15px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 10%;
}

/* Layout general */
body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}

.container {
  width: 100%;
  min-height: 100vh;
  color: white;
  font-family: system-ui, sans-serif;
}

/* Sección principal (hero) */
.hero {
  background-image: url('/hero-bg.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10%;
}

.title {
  font-family: "Press Start 2P", system-ui;
  font-size: 3rem;
  color: yellow;
  margin-bottom: 2rem;
  width: 70%;
  line-height: 60px;
}

/* Sección de contenido: oculta inicialmente */
.sectionContent.hidden {
  opacity: 0;
  transform: translateY(50px);
  pointer-events: none;
}

.aboutSection .content{
  align-items: center;
}

/* Cuando aparece, con animación */
.sectionContent.slideIn {
  animation: slideIn 1s ease-out forwards;
  background-color: white;
  color: black;
  min-height: 100vh;
}

/* Botón 'Más' */
.btnMore {
  display: inline-block;
  margin-top: 1rem;
  background-color: #facc15; /* amarillo */
  color: black;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  text-decoration: none;
}

.slideIn {
  animation: slideIn 0.8s ease-out forwards;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.sectionContent{
  background: linear-gradient(to bottom, #120800 0%, #050505 100%);
}

.aboutSection {
  padding: 200px 10% 0;
  color: white;
}

.aboutSection .content {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: flex-start;
  margin-bottom: 4rem;
}

.imageWrapper{
  width: 50%;
}

.imageWrapper img {
  min-width: 300px;
  width: 90%;
  border-radius: 8px;
  box-shadow: 0 0 10px #000;
}

.textContent {
  flex: 1;
  min-width: 250px;
  font-size: 0.9rem;
  line-height: 1.6;
}

.subtitle {
  font-family: "Press Start 2P", system-ui;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.characters {
  margin-top: 150px;
  padding-bottom: 100px;
  text-align: center;
}

.characterCards {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-top: 3rem;
}

.characterCards article{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.characterCards .card {
  background-color: #2b1a10;
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px #000;
  height: 100%;
}

.characterCards .cardInfo{
  background-color: black;
  text-align: center;
  padding: 10px;
  border-radius: 18px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  height: 100%;
}

.characterCards .cardInfo h3 {
  font-family: "Press Start 2P", system-ui;
  font-size: 1.2rem;
  margin: 0;
  font-weight: bold;
}

.card img {
  width: 100%;
  height: auto;
  padding: 20px;
}
.enemy{
  width: 180px;
}

.footer{
  text-align: center;
  font-weight: semibold;
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .characterCards{
    flex-direction: column;
    align-items: center;
  }

  .characterCards article{
    gap: 1.5rem;
  }

  .characterCards .cardInfo{
    height: 100%;
  }

  .aboutSection .content{
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .textContent{
    max-width: 80%;
  }
  .characters{
    margin-top: 5rem;
  }

  .developerList {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .developerList .textContent {
    max-width: 80%;
  }

  .developerList .imageWrapper img {
    max-width: 100%;
  }
}

@media screen and (max-width: 425px){
  .hero{
    background-image: url('/hero-bg-mobile.png');
  }
  .title{
    font-size: 1.4em;
  }

  .btnStart {
    width: 150px;
    height: 40px;
    font-size: 0.9rem;
  }

  .aboutSection{
    width: 90%;
    margin: 0 auto;
    padding: 2rem 0;
  }

  .imageWrapper img {
    max-width: 100%;
    width: 300px;
  }

  .characterCards{
    flex-direction: column;
    align-items: center;
  }

  .card img{
    width: 80%;
  }
}

@media screen and (max-width: 425px){
  .characterCards article{
    flex-direction: column;
    align-items: center;
  }
}

.developers {
  background: linear-gradient(to bottom, #120800 0%, #050505 100%);
  padding: 150px 10% 100px;
  color: white;
}

.developerList {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
}

.developers .subtitle{
  text-align: center;
  margin-bottom: 2em;
}

.developerList .textContent {
  flex: 1;
  font-size: 0.9rem;
  line-height: 1.6;
  width: 20%;
}

.developerList .textContent p{
  width: 90%;
}

.developerList .imageWrapper img {
  width: 100%;
  max-width: 500px;
  border-radius: 8px;
  box-shadow: 0 0 10px #000;
}

.developers img {
  width: 100%;
  max-width: 500px;
  border-radius: 8px;
  box-shadow: 0 0 10px #000;
}

